.section.columns-container {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
}

.columns > div {
  display: flex;
  flex-direction: column;
}

.section.columns-container h1,
.section.columns-container h2 {
  text-align: center;
  font-family: var(--black-font-family);
  font-size: var(--heading-font-size-xxl);
}

.columns > div > div {
  order: 1;
}

.section.columns-container > div {
  padding: 0 10px;
}

.columns.icons > div {
  flex-direction: row;
}

.columns img {
  width: 100%;
}

.columns.icons picture {
  max-width: 80%;
  align-self: center;
}

.columns.icons > div > div{
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-around;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

/* CTAs column */
/* stylelint-disable-next-line no-descending-specificity */
.columns.ctas > div  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.columns.ctas > div > div {
  width: 100%;
  padding: 10px 0;
  flex-direction: column;
}

.columns.ctas > div > div:nth-child(2) > a {
  background-color: var(--green-color);
}

.columns.ctas > div > div:nth-child(2) > a:hover {
  background-color: var(--dark-green-color);
}

.columns.ctas > div > div:nth-child(2) > a > .icon {
  background-color: var(--dark-green-color);
}


@media (width >= 768px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns.icons > div {
    flex-direction: column;
  }

  .columns.icons > div > div {
    flex-direction: row;
    width: unset;
  }

  .columns.icons img {
    max-width: 80%;
    align-self: center;
    margin: 0;
  }
}

@media (width >= 600px) {
  .columns.ctas > div  {
      padding: 48px;
      flex-direction: row;
    }
}
