body.clubs main{
    background-color: black;
    color: white;
  }

body.clubs main h1 > strong, body.clubs main strong > h1{
 font-size: var(--heading-font-size-xxl);
}


/* stylelint-disable-next-line media-feature-range-notation */
@media only screen and (max-width: 1200px){
    body.clubs main h1 > strong, body.clubs main strong > h1{
        text-align: center;
    }
}