.page-not-found .hero-section {
  position: relative;
}

.page-not-found .mobile-content-image {
  display: none;
}

.page-not-found .main-content-image {
    position: absolute;
    z-index: -9999;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: clip;
    object-position: center center;
    object-fit: cover;
  }

  /* align .image-content-wrapper on top of the above background image */
  .image-content-wrapper{
    position: absolute;
    color: white;
  }