/* stylelint-disable no-descending-specificity */
/* stylelint-disable declaration-block-single-line-max-declarations */

body {
  background: rgb(35 35 35);
}

body.no-scroll { overflow: hidden }

body main {
  background: #fff;
  transition: var(--nav-transition-time);
}

body.nav-open main,
body.nav-open footer {
  width: 100vw;
  left: 250px;
  opacity: .3;
}


/* fix when helix toolbar shown */
helix-sidekick[pushdown] ~ header, 
helix-sidekick[pushdown] ~ nav { top: 49px; }

header {
  position: fixed;
  left: 0;
  top: 0;
  background: rgb(35 35 35 / 90%);
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  z-index: 99;
}

header .logo {
  max-width: 100px;
  align-self: center;
  position: absolute;
  width: 60px;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: transparent;
  font-size: 0;
}

header .login {
  position: absolute;
  top: 0;
  right: 10px;
  font-family: "888medium";
  font-weight: 500;
  border-color: #fff;
  border-radius: 100px;
  line-height: 1;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
  padding: 10px 25px;
  text-decoration: none;
  transition: all .3s ease-in-out;
  border: 2px solid #fff;
  color: #fff;
}

/* nav button - burger */
header .nav-btn {
  align-self: center;
  cursor: pointer;
  color: #fff;
  position: relative;
  width: 33px
}

header .nav-btn span {
  display: block;
  width: 100%;
  height: 4px;
  background: #fff;
  transition: all .3s;
  position: relative;
}

header .nav-btn span+span {
  margin-top: 6px;
}

header .nav-btn span:nth-child(1) { animation: ease .4s span1 forwards; }
header .nav-btn span:nth-child(2) { animation: ease .4s span2 forwards; }
header .nav-btn span:nth-child(3) { animation: ease .4s span3 forwards; }

.nav-open header .nav-btn span:nth-child(1) { animation: ease .4s span1-x forwards; }
.nav-open header .nav-btn span:nth-child(2) { animation: ease .4s span2-x forwards; }
.nav-open header .nav-btn span:nth-child(3) { animation: ease .4s span3-x forwards; }

@keyframes span1 {
  0% { top: 10px; transform: rotate(45deg) }
  50% { top: 10px; transform: rotate(0deg) }
  100% { top: 0; transform: rotate(0deg) }
}

@keyframes span1-x {
  0% { top: 0; transform: rotate(0) }
  50% { top: 10px; transform: rotate(0) }
  100% { top: 10px; transform: rotate(45deg) }
}

@keyframes span2 {
  0% { transform: scale(0) }
  50% { transform: scale(0) }
  100% { transform: scale(1) }
}

@keyframes span2-x {
  50% { transform: scale(0) }
  100% { transform: scale(0) }
}

@keyframes span3 {
  0% { bottom: 10px; transform: rotate(135deg) }
  50% { bottom: 10px; transform: rotate(0) }
  100% { bottom: 0; transform: rotate(0) }
}

@keyframes span3-x {
  0% { bottom: 0; transform: rotate(0) }
  50% { bottom: 10px; transform: rotate(0) }
  100% { bottom: 10px; transform: rotate(135deg) }
}



/* sidebar nav */
nav {
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 250px;
  inset: 0 auto auto -250px;
  padding: 60px 0 0;
  background: #fff;
  transition: var(--nav-transition-time);
}

.nav-open nav { left: 0 }










nav ul {
  position: relative;
  font-size: 16px;
  line-height: 26px;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  position: relative;
  padding: 0;
  font-weight: bold;
  border-bottom: 1px solid #707070;
}


nav ul a,
nav ul span {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px;
  text-decoration: none !important;
  cursor: pointer;
}



/* accordion content */
nav div > ul > li > ul {
  background: #dfdfdf;
  overflow: hidden;
  max-height: 0;
  transition: all .8s;
}
nav div > ul > li.open > ul { max-height: 800px }


nav div > ul > li > ul a { transition: all .3s }
nav div > ul > li.open > ul a { padding-left: 40px }




/* nav div ul li input[type="checkbox"]:checked ~ ul {
  padding: 0;
  transition: all 1s ease-in-out;
} */

/* nav div > ul > li > ul {
  margin: 0 -10px -10px;
  padding: 0 0 0 20px;
  background: #dfdfdf;

}

nav ul > li > ul > li {
  margin: 0 -10px;
  padding: 10px 0px 10px 30px;
  border: 0;

} */



nav ul li:nth-of-type(5) { border-left: 5px solid #ff6400 }
nav ul li:nth-of-type(6) { border-left: 5px solid #80ff00 }
nav ul li:nth-of-type(7) { border-left: 5px solid #0080ff }

/* 
nav ul li input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: .2;
  background-color: green !important;
}

nav ul li input[type="checkbox"]:checked ~ ul {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transition: all 1s ease-in-out;
}

nav ul li input[type="checkbox"] ~ ul {
  transition: padding 1s ease-in-out;
} */


nav ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}

nav ul li i::before, 
nav ul li i::after {
  content: "";
  position: absolute;
  background-color: #ff6873;
  width: 3px;
  height: 9px;
  transition: all 0.25s ease-in-out;
}

nav ul li i::before {
  transform: translate(-2px, 0) rotate(45deg);
}

nav ul li i::after {
  transform: translate(2px, 0) rotate(-45deg);
}

/* nav ul li input[type="checkbox"]:checked ~ i::before {
  transform: translate(2px, 0) rotate(45deg);
}

nav ul li input[type="checkbox"]:checked ~ i::after {
  transform: translate(-2px, 0) rotate(-45deg);
} */

