* {
  box-sizing: border-box;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  background: #232323;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  z-index: 999;
}


nav .logo {
  max-width: 100px;
  align-self: center;
  position: absolute;
  z-index: 9;
  width: 60px;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: transparent;
  font-size: 0;
}

nav .login {
  position: absolute;
  top: 0px;
  right: 10px;
  font-family: "888medium";
  font-weight: 500;
  border-color: #fff;
  border-radius: 100px;
  line-height: 1;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
  padding: 10px 25px;
  text-decoration: none;
  transition: all .3s ease-in-out;
  border: 2px solid #fff;
  color: #fff;
}







/* burger menu */
nav .menu-btn {
  align-self: center;
  cursor: pointer;
  color: #fff;
  position: relative;
  z-index: 9;
  width: 33px
}

nav .menu-btn span {
  display: block;
  width: 100%;
  height: 4px;
  background: #fff;
  transition: all .3s;
  position: relative
}

nav .menu-btn span+span {
  margin-top: 6px
}

body .main-nav .active span:nth-child(1) {
  -webkit-animation: ease .4s top forwards;
  animation: ease .4s top forwards
}

body .main-nav .active span:nth-child(2) {
  -webkit-animation: ease .4s scaled forwards;
  animation: ease .4s scaled forwards
}

body .main-nav .active span:nth-child(3) {
  -webkit-animation: ease .4s bottom forwards;
  animation: ease .4s bottom forwards
}

body .main-nav .not-active span:nth-child(1) {
  -webkit-animation: ease .4s top-2 forwards;
  animation: ease .4s top-2 forwards
}

body .main-nav .not-active span:nth-child(2) {
  -webkit-animation: ease .4s scaled-2 forwards;
  animation: ease .4s scaled-2 forwards
}

body .main-nav .not-active span:nth-child(3) {
  -webkit-animation: ease .4s bottom-2 forwards;
  animation: ease .4s bottom-2 forwards
}





.nav-menu {
  display: none;
}