.carousel.block .mobile-slides-wrapper {
    display: block;
    width: calc(100% + 1px);
    background-color: #232323;
    position: relative;
    overflow: hidden;
}

.carousel.block .slide {
    width: 100%;
    top:0;
    overflow: hidden;
    position: relative;
}

.carousel.block .mobile-slides-wrapper .brand-logo{
    max-width: 25%;
    left: 5%;
    top: 5%;
    min-width: 24%;
}

.carousel.block .brand-logo{
    position: absolute;
}

.carousel.block .brand-logo .icon{
    height: auto;
    width: auto;
}

.carousel.block .mobile-slides-wrapper video{
    min-height: 170px;
}

.carousel.block video{
    width: 100%;
    height: 100%;
}

.carousel.block .mobile-slides-wrapper .mobile-v2 {
    display: block;
    width: 100%;
    background-color: #232323;
    color: #666;
    padding-top: 5px;
    background-image: linear-gradient(#232323, #000000);
    padding-bottom: 20px;
    text-align: center;
}

.carousel.block .mobile-slides-wrapper .mobile-v2 p {
    font-size: 16px;
    color: #fff;
    margin: 0;
    line-height: 1.1;
}

.carousel.block .mobile-slides-wrapper .mobile-v2 h2 {
   margin: 0;
   font-size: 34px;
   font-family: var(--ff-888-ultra);
   color: var(--green-color);
   line-height: 1.1;
   text-align: center;
}

.carousel.block .mobile-slides-wrapper .slide-2 .mobile-v2 h2,
.carousel.block .mobile-slides-wrapper .slide-5 .mobile-v2 h2 {
    color: var(--blue-color);
}

.carousel.block .mobile-slides-wrapper .slide-3 .mobile-v2 h2{
    color: var(--pumpkin-orange-color);
}

.carousel.block .mobile-slides-wrapper .mobile-v2 a {
    font-size: 11px;
    font-size: 11px;
    padding: 5px 8px 0 8px;
    color: #666;
}


.carousel.block .mobile-slides-wrapper .mobile-v2 a {
    font-size: 11px;
    font-size: 11px;
    padding: 5px 8px 0 8px;
    color: #666;
}

.carousel.block .mobile-slides-wrapper .mobile-v2 .button-container a {
    border-color: #80ff00;
    background-color: #80ff00;
    font-family: var(--ff-888-bold);
    border-radius: 100px;
    font-size: 24px;
    border-style: solid;
    border-width: 2px;
    padding: 10px 25px;
    font-weight: 500;
    text-decoration: none;
    transition: all .3s ease-in-out;
    max-width: 70%;
    margin: 10px auto 20px;
    margin-bottom: 20px;
    color: #000;
    margin-bottom: 0;
}

.carousel.block .mobile-slides-wrapper .slide-2 .mobile-v2 .button-container a,
.carousel.block .mobile-slides-wrapper .slide-5 .mobile-v2 .button-container a {
    border-color: var(--blue-color);
    background-color: var(--blue-color);
}

.carousel.block .mobile-slides-wrapper .slide-3 .mobile-v2 .button-container a {
    border-color: var(--pumpkin-orange-color);
    background-color: var(--pumpkin-orange-color);
}