.table.block {
    width: 100%;
}

.table.block.yellow {
    margin: 5px auto;
    height: 315px;
    overflow: auto;
    scrollbar-color: var(--white-color) var(--light-gold-color);
}

.table.block table {
    border: 1px solid var(--darker-gray-color);
    text-align: left;
    padding: 10px;
    vertical-align: middle;
    background-color: var(--white-color);
    border-collapse: collapse;
    border-spacing: 0;
}

.table.block table th, .table.block table td    {
    padding: 10px;
}

.table.block.yellow table {
    color: var(--white-color);
    width: 100%;
    height: auto;
    background-color: var(--very-dark-gray-color);
    table-layout: auto;
    display: table;
    text-align: center;
    border: 1px solid var(--gold-color);
}

.table.block.yellow table tr {
    background: var(--black-color);
}

.table.block.yellow table tr:hover {
    background: var(--dark-gray-color);
}


.table.block:not(.yellow) table th {
    width: 20%;
    background-color: var(--darker-gray-color);
    color: var(--white-color);
}

.table.block.yellow table th {
    display: table-cell;
    border: 1px solid var(--gray-color);
    text-align: center;
    border-collapse: collapse;
    background: var(--light-gold-color);
    color: var(--black-color);
    text-transform: uppercase;
    padding: 20px 35px;
    font-weight: 900;
    font-family: var(--ff-888-ultra)
}

.table.block:not(.yellow) table th:last-child {
    width: 60%;
}

.table.block:not(.yellow) table td {
    border: 1px solid var(--darker-gray-color);
    padding: 10px;
    vertical-align: middle;
    background-color: var(--white-color);
}

.table.block.yellow table td {
    color: var(--med-gray-color);
    padding: 6px 8px;
    text-align: center;
    display: table-cell;
    border: 1px solid var(--gray-color);
    border-collapse: collapse;
    font-family: var(--body-font-family);
}

.table.block.yellow table tr:hover td {
    color: var(--white-color);
}

.table.block table a{
    text-decoration: none;
}

/* stylelint-disable-next-line media-feature-range-notation */
@media screen and (max-width: 1200px) {
    .table.block.yellow {
        max-width: 90%;
    }
}