
.inner p,
.inner dl,
.inner ol,
.inner ul,
.inner pre,
.inner blockquote {
  font-size: var(--body-font-size-xs);
}

.inner li {
  padding: 0.416rem 0;
  font-size: var(--body-font-size-xs);
}

.inner code,
.inner pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-xs);
}

.inner h1,
.inner h2 {
    text-align: center;
  }

@media (width >= 600px) {
  .inner h1 {
    font-size: var(--heading-font-size-xl);
    line-height: 1.2;
  }
}

@media (width >= 1200px) {
  .inner h1,
  .inner h2 {
    text-align: left;
  }
}
