
p, dl, ol, ul, pre, blockquote {
  font-size: var(--body-font-size-xs);
}

li {
  font-size: var(--body-font-size-xs);
}

code, pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-xs);
}

@media (width >= 600px) {
  h1 {
    font-size: var(--heading-font-size-xl);
    line-height: 1.2;
  }
}
