@import url('../../styles/breadcrumbs.css');

main .section-outer {
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
}

main .section-outer .section { flex-grow: 1 }

aside.left-nav {
  min-width: max(24%, 250px);
  margin: 0 20px 0 10px;
  min-height: 400px;
}

@media (width < 1024px) {
  aside.left-nav { display: none }
}

aside.left-nav ul,
aside.left-nav div {
  position: sticky;
  top: 100px;
  padding: 0 0 20px;
  list-style: none;
  color: #666;
}

aside.left-nav ul li {
  position: relative;
}

aside.left-nav ul li a {
  display: block;
  width: inherit;
  padding: 12px 12px 12px 10px;
  margin: 0;
  font-weight: 500;
  font-size: .8rem;
  text-decoration: underline;
  transition: .5s;
}

aside.left-nav ul li a::after {
  position: absolute;
  top: 44%;
  right: 10px;
  content: "";
  width: 6px;
  height: 6px;
  border-top: 1px solid;
  border-right: 1px solid;
  transform: rotate(45deg);
  display: inline-block;
  vertical-align: middle
}

aside.left-nav ul li.active a {
  background: #4f4f4f;
  color: #fff;
}


