
.breadcrumbs {
  list-style-type: none; /* Remove default list style */
  padding: 0;
  margin: 10px 0 20px;
}

.breadcrumbs li { display: inline }

.breadcrumbs li::after {
  content: '›';
  font-size: 16px;
  padding: 0 0.5em;
}
.breadcrumbs li:last-child::after { content: '' }

.breadcrumbs li a {
  font-size: 12px;
  text-decoration: none;
}
.breadcrumbs li a:hover { text-decoration: underline }

.breadcrumbs li:last-child a {
  cursor: default;
  text-decoration: none !important;
}