/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */


/* fallback font for 888-black */
@font-face {
  font-family: "default888-Fallback";
  src: local('Arial');
  font-weight: 800;
  ascent-override: 82.23%;
  descent-override: 21.64%;
  line-gap-override: 0.00%;
  size-adjust: 115.52%;
}

/* fallback font for 888-medium */
@font-face {
  font-family: "medium888-Fallback";
  src: local('Arial');
  font-weight: 400;
  ascent-override: 83.10%;
  descent-override: 21.87%;
  line-gap-override: 0.00%;
  size-adjust: 114.32%;
}

/* fallback font for 888-bold */
@font-face {
  font-family: "default888-Fallback";
  src: local('Arial');
  font-weight: 700;
  ascent-override: 82.52%;
  descent-override: 21.72%;
  line-gap-override: 0.00%;
  size-adjust: 115.12%;
}

/* fallback font for 888-ultra */
@font-face {
  font-family: "default888-Fallback";
  src: local('Arial');
  font-weight: 900;
  ascent-override: 82.52%;
  descent-override: 21.72%;
  line-gap-override: 0.00%;
  size-adjust: 115.12%;
}

:root {
  /* colors */
  --link-color: #000;
  --link-hover-color: #000;
  --background-color: white;
  --light-color: #f7f7f7;
  --dark-color: #dfdfdf;
  --text-color: black;
  --orange-color: #fa6200;
  --blue-color: #0080ff;
  --green-color: #80ff00;
  --yellow-color: #fce403;
  --light-black-color: #141414;

  /* fonts */
  --body-font-family: "medium888", "medium888-Fallback";
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: menlo, consolas, monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 16px;
  --body-font-size-xs: 14px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px; /* h2 home */
  --heading-font-size-l: 1.67rem; /* 27.77px */
  --heading-font-size-m: 1.5rem; /* 24px */
  --heading-font-size-s: 18px;
  --heading-font-size-xs: 14px;

  /* nav height */
  --nav-height: 45px;
}

body {
  font-size: var(--body-font-size-s);
  margin: 0;
  font-family: var(--body-font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--body-font-family);
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 1em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-m);
  text-align: center;
  margin-bottom: 1.67rem;
  margin-top: 0;
  word-wrap: break-word;
}

h2 {
  font-size: var(--heading-font-size-l);
  text-align: center;
  font-weight: 500;
}
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: var(--body-font-size-xs);
}

li {
  padding: 0.416rem 0;
  font-size: var(--body-font-size-xs);
}

code, pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a:any-link {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}

/* buttons */
a.button:any-link, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main .section {
  padding: 20px 10px;
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
}

@media (width >= 600px) {
  h1 {
    font-size: var(--heading-font-size-xl);
    text-align: center;
    line-height: 1.2;
  }

  h2 {
    font-size: var(--heading-font-size-l);
    text-align: center;
    font-weight: 500;
  }
}

@media (width >= 1024px) {
  main {
    margin-top: 15px;
    transition: .3s all;
    position: relative;
    left: 0;
  }

  main .section {
    padding: 64px 32px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    position: relative;
  }
}

@media (width >= 1200px) {
  h1, h2 {
    text-align: left;
  }
}
